<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <title>Login Screen</title>

    
</head>

<body>
    <%-include('partials/header.ejs')%>
    <div class="container text-center" style="width: 80vh;">
        <div class="row align-items-center justify-content-center">
            <div class="p-2 col-6 border border-danger rounded shadow">
                <h2 class="m-2 border border-danger rounded-pill bg-danger text-white"> Login </h2>
                <form method="POST" action="/attemptLogin">
                    <div class="p-2 m-2 border border-danger rounded shadow">
                        <label for="username">Username:
                        <div class="loginDiv m-1">
                            <input type="text" name="username"></label>
                            <span class="bi bi-person loginIcon"></span>
                        </div>
                        <label for="password">Password:
                        <div class="loginDiv m-1">
                            <input type="password" id="pwd" name="password"></label>
                            <span class="bi bi-eye loginIcon" id="eyeIcon"></span>
                        </div>
                    </div>
                    <button class="btn btn-danger">Login</button>
                </form>
                <% if(typeof(loginError) != 'undefined') {%>
                    <h3 class="text-danger"><%=loginError%></h3>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>   
    <script>
        const eyeIcon = document.querySelector("#eyeIcon");;
        eyeIcon.addEventListener("click", () => {
            const isHidden = pwd.type === "password";
            pwd.type = (isHidden) ? "text" : "password";
            eyeIcon.classList.toggle("bi-eye", !isHidden);
            eyeIcon.classList.toggle("bi-eye-slash", isHidden);
        });
    </script>
</body>

</html>